.container.text-center
  %h1.brand find a project.
  - if policy(@asks).new?
    %h3.brand-small= link_to 'or ask.', new_ask_path
  .row
    .col-md-4
      = form_tag asks_path, class: "form-inline", method: :get do
        .form-group
          = text_field_tag :query, params[:query], class: "form-control"
        = submit_tag "Search", class: "btn btn-primary"
        - if params[:query].present?
          = link_to "clear", asks_path
    .col-md-4
      .dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          ask by industry
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - Category.all.each do |category|
            %li{:role => "presentation"}= link_to category.name, category
.container#ask-index
  - @asks.each do |ask|
    .row.index
      .col-lg-2
        .small= "#{time_ago_in_words(ask.created_at)} ago"
      .col-lg-4
        %b.dark-link= link_to ask.project_name, ask
      .col-lg-3
        .dark-link= link_to ask.category.name, ask.category
      .col-lg-2
        = ask.location
      .col-lg-1
        - if policy(ask).edit?
          .small= link_to 'Edit', edit_ask_path(ask)
        - if policy(ask).destroy?
          .small= link_to 'Delete', ask, :method => :delete, :data => { :confirm => 'Are you sure?' }
