- if policy(@ask).show?
  .container#ask
    .row
      .col-md-8.col-md-offset-2
        - @ask.offers.each do |offer|
          - if offer.accepted == true && policy(offer).project?
            %h3.text-center
              there is an accepted offer for this Ask
            %h4.text-center= link_to "visit workroom", ask_offer_workrooms_project_path(offer.ask, offer), class: 'brand-secondary'
        %p
          %b.brand-small project name.
          = @ask.project_name
        %p
          %b.brand-small industry.
          = @ask.category.name
        %p
          %b.brand-small project description.
          = @ask.project_description
        %p
          %b.brand-small skills we're looking for.
          = @ask.skills
        %p
          %b.brand-small time commitment.
          = @ask.time_commitment
        %p
          %b.brand-small location.
          = @ask.location
        %p
          %b.brand-small other details and expectations.
          = @ask.expectations
        %p.small
          = "asked by #{@ask.user.first_name} #{time_ago_in_words(@ask.created_at)} ago"
          = ", and updated #{time_ago_in_words(@ask.updated_at)} ago" if @ask.created_at != @ask.updated_at
        %p
          - if policy(@ask).edit?
            = link_to 'edit your Ask', edit_ask_path(@ask)
        %p
          - if current_user
            = render 'offers/form'
            = render partial: 'offers/offer', collection: @offers
