.container#profile
  .row
    .col-md-6.col-md-offset-3
      = image_tag(@user.avatar) if @user.avatar?
      %p
        %b.brand-small name.
        = @user.name
      %p
        %b.brand-small industry.
        = @user.category.name if @user.category
      %p
        %b.brand-small current status.
        = @user.status if @user.status
      %p
        %b.brand-small location.
        = @user.location if @user.location
      %p
        %b.brand-small skills.
        = @user.skill if @user.skill
      %p
        %b.brand-small achievements.
        = @user.achievement if @user.achievement
      %p
        %b.brand-small portfolio.
        = @user.portfolio if @user.portfolio
      - if policy(@user).edit?
        = link_to "Edit profile", edit_user_registration_path, class: 'btn btn-success'
  .row
    .col-md-5.col-md-offset-1
      %h3.brand= "#{@user.asks.count} asks."
      - @user.asks.each do |ask|
        %p
          = link_to ask.project_name, ask
          = " - #{time_ago_in_words(ask.created_at)} ago"

    .col-md-5.col-md-offset-1
      %h3.brand= "#{@user.accepted_offers.count} accepted offers."
      - @user.accepted_offers.each do |offer|
        %p
          = link_to offer.ask.project_name, offer.ask
          - if policy(offer).project?
            %p= link_to "workroom", ask_offer_workrooms_project_path(offer.ask, offer), class: 'brand-secondary'

      %h3.brand= "#{@user.pending_offers.count} pending offers."
      - @user.pending_offers.each do |offer|
        %p
          = link_to offer.ask.project_name, offer.ask
          = " - #{time_ago_in_words(offer.created_at)} ago"
