%h1.text-center.brand= "#{@category.name}."
- @category.users.each do |user|
  .container
    .row.index
      .col-md-1
        = image_tag(user.profile) if user.avatar?
      .col-md-3
        = link_to user.name, user_path(user)
      .col-md-3
        = user.status
      .col-md-3
        = user.location
      .col-md-2
        %p.small= "#{user.asks.count} asks"
        %p.small= "#{user.offers.count} offers, #{user.offers.where(accepted: true).count} accepted"
