<!DOCTYPE html>
<html>
<head>
  <title>Juicr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVBAR -->
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Juicr", root_path, class: 'navbar-brand brand-small' %>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", static_about_path %></li>
                <li><%= link_to "Help", static_help_path %></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <div class="container" id="footer">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 pull-left">
        <%= link_to "About", static_about_path, class: 'footer-item' %>
        <%= link_to "Stories", "#", class: 'footer-item' %>
        <%= link_to "Help", static_help_path, class: 'footer-item' %>
      </div>
      <div class="col-md-4 col-md-offset-1 pull-right">
        <%= link_to "Policies", "#", class: 'footer-item' %>
        <%= link_to "Terms & Privacy", "#", class: 'footer-item' %>
      </div>
    </div>
    <div class="container text-center end-footer">
      <p>Made with ♥ in Los Angeles  |  Juicr 2014  |  <%= link_to "Casanova Tapia", "http://casanovatapia.com", id: 'credit' %></p>
    </div>
  </div>

</body>
</html>
